Logs/
/Library
/obj
/Temp
/*.sln
/*.csproj
.vs
Builds
/[Bb]uild/
Assets/Lua/**/*.lua.bytes*
.idea/
JetBrains/
*.code-workspace
*.code-workspace.meta
/Assets/XLua
/Assets/XLua.meta
/ServerData
*.apk
addressables_content_state.bin*
/Assets/StreamingAssets/aa*
/Assets/StreamingAssets.meta
/Assets/AddressableAssetsData/Android.meta
/Assets/AddressableAssetsData/iOS.meta
/Assets/AddressableAssetsData/Windows.meta
/Assets/StreamingAssets/build_info*
Assets/Temp*
/Assets/AddressableAssetsData/AnalyzeData*
